fastapi
uvicorn

python-dotenv
pydantic

langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters

langchain-openai
langchain-huggingface
sentence-transformers
faiss-cpu
